<% if f.object.errors.any? %>
  <div class="alert alert-warning">
    <ul class="list-unstyled mb-0">
      <% f.object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="form-group">
  <%= f.label :card_number, class: 'form-control-label' %>
  <%= f.text_field :card_number, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :expiration_date, class: 'form-control-label d-block' %>
  <%= f.date_select :expiration_date, start_year: Date.current.year, end_year: Date.current.year + 10, use_month_numbers: true, discard_day: true, order: [:month, :year] %>
</div>

<div class="form-group">
  <%= f.label :cvv, 'CVV', class: 'form-control-label' %>
  <%= f.text_field :cvv, class: 'form-control' %>
</div>

<div class="form-group">
  <label class="form-control-label">Cardholder name</label>
  <div id="cardholder-name" class="form-control"><%= current_user.full_name %></div>
</div>
