<div id="preview-card" class="debit-card-wrapper">
  <div class="debit-card">
    <div class="card-content">
      <div class="card-number">•••• •••• •••• ••••</div>
      <div class="card-expiry">••/••</div>
      <div class="card-name">Full Name</div>
    </div>
  </div>
</div>
