<div class="container py-1">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <h6 class="card-header">Select a payment card</h6>

        <div class="card-block">
          <%= form_for @debit_card_form, url: debit_card_url do |f| %>
            <fieldset>
              <div class="form-check">
                <label class="form-check-label">
                  <%= f.radio_button :payment_card, DebitCardForm::EXISTING_CARD, class: 'form-check-input', disabled: !existing_card_present? %>
                  Existing card
                </label>

                <% if existing_card_present? %>
                  <%= content_tag :p, data: { behavior: 'existing-card-info', card_number: card_number_to_human(f.object.existing_card.card_number), exp_month: f.object.existing_card.expiration_date.month, exp_year: f.object.existing_card.expiration_date.year, full_name: f.object.existing_card.user.full_name } do %>
                    •••• •••• •••• <%= f.object.existing_card.last_4_digits %> (<%= expiration_date_to_human(f.object.existing_card.expiration_date) %>)
                  <% end %>
                <% end %>
              </div>

              <% if f.object.errors.any? %>
                <div class="alert alert-warning">
                  <ul class="list-unstyled mb-0">
                    <% f.object.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
            </fieldset>

            <fieldset>
              <div class="form-check">
                <label class="form-check-label">
                  <%= f.radio_button :payment_card, DebitCardForm::NEW_CARD, class: 'form-check-input' %>
                  New card
                </label>
              </div>

              <%= f.fields_for :new_card do |new_card_form| %>
                <%= render 'new_card_form', f: new_card_form %>
              <% end %>
            </fieldset>

            <%= f.submit 'Checkout', class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <h6 class="card-header">Preview a card</h6>

        <div class="card-block">
          <%= render 'preview_card_placeholder' %>
        </div>
      </div>
    </div>
  </div>
</div>
