.edit_debit_card_form {
  .form-control-feedback {
    font-size: 80%;
    font-weight: bold;
  }
}

.debit-card-wrapper {
  max-width: 350px;
  height: 200px;
  margin: auto;
}

.debit-card {
  position: relative;
  background-color: #ddd;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: all 300ms linear;

  &.existing-card {
    background-color: #0061ab;
  }

  .card-content {
    position: absolute;
    width: 80%;
    left: 10%;
    bottom: 30px;
    font-family: monospace;
    color: #fff;
  }

  .card-number {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .card-expiry {
    float: right;
  }

  .card-name {
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    font-size: 20px;
  }
}
