<% if notice %>
  <div class="modal fade" data-behavior="show-modal-onload">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body text-xs-center">
          <%= notice %>
        </div>
      </div>
    </div>
  </div>
<% end %>
