<!DOCTYPE html>
<html>
<head>
  <title>SmartPay Code Challenge</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'flashes' %>

  <%= yield %>
</body>
</html>
